<!-- Sidebar -->
<ul
  class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
  id="accordionSidebar"
>
  <!-- Sidebar - Brand -->
  <a
    class="sidebar-brand d-flex align-items-center justify-content-center"
    href="/success"
  >
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">User Profile</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="/success">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a
    >
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">Interface</div>

  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapseTwo"
      aria-expanded="true"
      aria-controls="collapseTwo"
    >
      <i class="fas fa-fw fa-cog"></i>
      <span>Item Functionality</span>
    </a>
    <div
      id="collapseTwo"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">BROWSE ITEMS:</h6>
        <a class="collapse-item" href="/api/products">Show All Items</a>
        <a class="collapse-item" href="/api/carts">Show Cart</a>
        <a class="collapse-item" href="#">Favorite Items</a>
        <a class="collapse-item" href="#">Friends Recent Purchases</a>
        <a class="collapse-item" href="#">Friends Likes</a>
        <!-- <a class="collapse-item" href="admin-cards">Cards</a> -->
      </div>
    </div>
  </li>
  <!--  Profile -->
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapseTen"
      aria-expanded="true"
      aria-controls="collapseTwo"
    >
      <i class="fas fa-fw fa-cog"></i>
      <span>Profile Functionality</span>
    </a>
    <div
      id="collapseTen"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Profile:</h6>
        <a class="collapse-item" href="/profile-page">Show Profile</a>
        <a class="collapse-item" href="/edit-profile">Edit Profile</a>
      </div>
    </div>
  </li>

   <!--  Profile -->
   <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapseTwelve"
      aria-expanded="true"
      aria-controls="collapseTwo"
    >
      <i class="fas fa-fw fa-cog"></i>
      <span>Orders Functionality</span>
    </a>
    <div
      id="collapseTwelve"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Orders:</h6>
        <a class="collapse-item" href="/api/orders/all-orders">Show Orders</a>
      </div>
    </div>
  </li>


  <!-- Nav Item - Pages Collapse Menu -->
  

  <!-- Nav Item - Utilities Collapse Menu -->
 

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
 

  <!-- Nav Item - Pages Collapse Menu -->
  



 
  <!-- HERE 2! -->

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block" />

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

  <!-- Sidebar Message -->
</ul>
<!-- End of Sidebar -->
